@media screen and (max-width:1110px) {
    .banner {
        width: 100%;
    }
    .table {
        padding:  30px 45px 45px 30px;;
    }
}
@media screen and (max-width:1025px) {
    .footer__wrap {
        margin: 0 auto;
        max-width: 730px;
        width: 100%;
        height: 100%;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .headline {
        text-align: center;
    }
    .contact {
        text-align: center;
    }
.maintext {
    display: flex;
    flex-direction: column;
    gap: -50px;
}
.maintext__link {
margin-top: 10px;
}
.maintext__links {
    margin-top: 10px;
}
.table {
    width: 100%;
    height: 100%;
}
.table2 {
    height: 100%;
    max-width: 730px;
    padding-bottom: 20px;
    width: 100%;
    background: #f0f0f0;
    margin: 30px 15px;
    margin-top: -40px;
    text-align: center;
}
.text1 {
    text-align: center;
}
.text2 {
    padding: 20px 40px;
    height: 130px;
}
}
@media screen and (max-width:770px) {
    .footer__wrap {
        max-width: 730px; 
    }
    
}


@media screen and (max-width:805px) {
    .header__nav-list-item a {
        font-size: 14px;
        gap: 25px;

    }
} 
@media screen and (max-width:625px) {
    .header__nav-list-item a {
        font-size: 12px;
        gap: 25px;

    }

} 

@media screen and (max-width:560px) {
    .header__nav-list-item a {
        font-size: 9px;
        gap: 20px;
    }
    .header__nav {
        gap: 40px;
        padding-top: 30px;
    }
} 
@media screen and (max-width:480px) {
    .header__nav-list-item a {
        font-size: 9px;
        gap: 18px;

    }

} 
@media screen and (max-width:440px) {
    .header__nav-list-item a {
        font-size: 8px;
        gap: 15px;
    }
} 
@media screen and (max-width:420px) {
    .header__nav-list-item a {
        font-size: 7px;
        gap: 14px;

    }
    .footer__link {
        font-size: 18px;
    }
}
@media screen and (max-width:382px) {
    .header__nav-list {
        gap: 10px;
    }
    .header__nav-list-item a {
        font-size: 6px;
        gap: 12px;

    }
    .maintext__link {
        margin-top: 50px;
    }
}